/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #1b5fbe;
    color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.hero {
    background: url(../img/banner2.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: white;
    
}

.hero h1 {
    font-size: 3rem;
}

.features, .about, .contact, .search {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.features{
    transition:scale 0.4s;
}

.features:hover{
    scale: 1.01;
    border: 2px solid;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}

#contact {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#contact:hover {
    background-color: #555;
}

#ser{
    padding: 5px 15px 5px 15px;
    border: 2px solid black;
    background-color: rgb(0, 225, 255);
    border-radius: 5px;
    transition: all 0.3s;
    color: rgb(0, 0, 0);
}

#ser:hover{
    background-color: rgb(43, 169, 169);
    scale: 1.1;
}

footer {
    background-color: #1b5fbe;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border: 2px solid black;
}
